<div th:fragment="sidebar">
    <div class="list-group mb-4 admin-sidebar">
        <a th:href="@{/admin/index}" class="list-group-item list-group-item-action">Dashboard</a>
        <a th:href="@{/admin/products}" class="list-group-item list-group-item-action">Quản lý sản phẩm</a>
        <a th:href="@{/admin/categories}" class="list-group-item list-group-item-action">Quản lý danh mục</a>
        <a th:href="@{/admin/suppliers}" class="list-group-item list-group-item-action">Quản lý nhà cung cấp</a>
        <a th:href="@{/admin/inventory}" class="list-group-item list-group-item-action">Quản lý tồn kho</a>
        <a th:href="@{/admin/orders}" class="list-group-item list-group-item-action">Quản lý đơn hàng</a>
        <a th:href="@{/admin/customers}" class="list-group-item list-group-item-action">Quản lý khách hàng</a>
        <a th:href="@{/admin/employees}" class="list-group-item list-group-item-action">Quản lý nhân viên</a>
        <a th:href="@{/admin/vouchers}" class="list-group-item list-group-item-action">Quản lý mã giảm giá</a>
        <a th:href="@{/admin/bookings}" class="list-group-item list-group-item-action">Quản lý đặt lịch</a>
    </div>
</div>